.chat-main
 .header
  .groups
   .group
    %p.group__name test
   .member
    %p.member__name Member : masa
  %a(href="#")
   .button Edit

 .chat-main-content
  .contents
   .content
    %p.name masa
    %p.day 2019/11/20(Wed) 17:43:01
   .messages
    %p.message おはよう！
   .content
    %p.name masa
    %p.day 2019/11/20(Wed) 17:43:34
   .messages
    %p.message 今日は夜から雨

 .chat-main-footer
  .message-form
   %form.new-message
    .input-box
    %input{type: "text", class: "message", placeholder: "type a message"}
    %label.icon-image
     = icon('fas', 'image')
     %input{type: "file", class: "image-file"}
   %input{type: "submit", class: "button", value: "Send"}
