.side-bar
 .side-bar-header
  .side-bar-info
   .user-info
    %p.user-name masa
   %ul.user-icon
    %li.user-icon-edit
     = link_to "#" do
      = icon('far', 'edit')
    %li.user-icon-cog
     = link_to "#" do
      = icon('fa', 'cog')

 .side-bar-main
  .group
   .group__name
    %p.name techcanp
   .group__message
    %p.message まだメッセージがありません
