 $blue: #38aef0;
 $ash:#999999;
 $white:#ffffff;

.chat-main{
  height: 100vh;
  width: 100%;
  .header {
    height: 100px;
    width: calc(100vw - 300px);
    background-color: $white;
    display: flex;
    justify-content: space-between;
    .groups {
      .group {
        padding: 35px 0px 15px 40px;
        &__name {
          font-size: 20px;
          color: #333333;
        }
      }
      .member {
        &__name {
          padding-left: 40px;
          font-size: 12px;
          color: $ash;
        }        
      }
    }
  a {
    text-decoration: none;
  }
    .button {
      height: 38px;
      width: 50px;
      font-size: 16px;
      color: $blue;
      border: 1px solid;
      padding: 0px 10px;
      margin-top: 28px;
      margin-right: 40px;
      line-height: 40px;
      text-align: center;
    }
  }

  .chat-main-content {
    height: calc(100vh - 190px);
    width: calc(100vw - 300px);
    background-color: #fafafa;
    .contents {
      padding-left: 40px;
      padding-top: 35px;
      height: 100%;
      overflow: scroll;
      .upper-message {
        display: flex;
        .upper-message__user-name {
          color: #333333;
          font-size: 16px;
        }
        .upper-message__date {
          color: $ash;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .lower-message {
        margin-top: 12px;
        height: 100%;
        margin-bottom: 46px;
        .lower-message__content {
          color: #434A54;
          font-size: 14px;
        }
      }
    }
  }
  
  .chat-main-footer {
    bottom: 0;
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #d2d2d2;
    position: relative;
    .message-form {
      height: 50px;
      width: calc(100vw - 400px);
      padding-left: 40px;
      padding-right: 40px;
      position: absolute;
      top: 50%;
      -webkit-transform : translateY(-50%);
      transform : translateY(-50%);;
      display: flex;
      .new-message {
        height: 50px;
        width: 100% ;
        display: flex;
        .messagespace {
          height: 46px;
          width: calc(100vw - 500px);
          padding-left: 10px;
        }
        .icon-image {
          top: 0px;
          position: absolute;
          right: 10px;
          cursor: pointer;
          .image-file {
            display: none;
          }
        }
      }
      .input-box {
       .button {
          height: 50px;
          width: 100px;
          font-size: 16px;
          background-color: $blue;
          margin-left: 20px;
          color: $white;
          cursor: pointer;
       }
      }
    }
  }
}
