$white:#ffffff;

.side-bar {
  height: 100vh;
  width: 300px;
  // float: left;
 .header {
  height: 100px;
  width: 300px;
  background-color: #253141;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  &__info {
    height: 20px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    .user {
      height: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
      &__name {
        font-size: 16px;
        color: $white;
        font-weight: bold;
      }    
    }
    .icon {
      margin-right: 0px;
      &__user {
        width: 60px;
        display: flex;
        text-align: right;
        align-items: center;
        justify-content: flex-end;
          &--edit {
            a {
              color: $white;
              text-decoration: none;
            }
          }
        &--cog {
          margin-left: 5px;
          a {
            color: $white;
            // text-decoration: none;
          }
        }
      }
    }

  }
 }
 
 &__main {
  height: calc(100% - 100px);
  background-color: #2f3e51;
  bottom: 0;
  padding-top: 100px;
  .group {
    height: 65px;
    &__name {
      .name {
        padding: 20px 20px 5px 20px;
        font-size: 15px;
        color: $white;
        font-weight: bold;
      }
    }
    &__message {
      .message {
        padding: 0px 20px 40px 20px;
        font-size: 11px;
        color: $white;
        font-weight: bold;
      }
    }
  }
 }
}